@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">RPG Etec <a href="https://etechoracio.com.br" target="_blank">HAS</a> | 2º DS - 2021/2</h2>
    <p>Aplicação WEB MVC de Jogo RPG que consome API criada durante o semestre.</p>
</div>
